body,
html {
    padding: 0;
    margin: 0;
}

#slide {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 500px);
    width: 1000px;
    height: 600px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    overflow: hidden;
}

.image::after {
    content: "";
    display: block;
    width: 1000px;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.image:nth-child(1):after {
    background-image: url(./back1.png);
}

.image:nth-child(2):after {
    background-image: url(./back2.png);
}

.image:nth-child(3):after {
    background-image: url(./back3.png);
}

.image:nth-child(4):after {
    background-image: url(./back1.png);
}

.image:nth-child(1) {
    animation: show-image 0.5s ease 0.5s forwards;
}

.image:nth-child(2) {
    animation: show-image 0.5s ease 0.7s forwards;
}

.image:nth-child(3) {
    animation: show-image 0.5s ease 0.9s forwards;
}

.image:nth-child(4) {
    animation: show-image 0.5s ease 1.1s forwards;
}

@keyframes show-image {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}



.paint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.paint div {
    width: 100%;
    height: 20%;
    background-color: white;
    transform: translateX(-100%);
}

.paint div:nth-child(1) {
    animation: slide-right 0.5s ease 1.6s forwards;
}

.paint div:nth-child(2) {
    animation: slide-right 0.5s ease 1.7s forwards;
}

.paint div:nth-child(3) {
    animation: slide-right 0.5s ease 1.8s forwards;
}

.paint div:nth-child(4) {
    animation: slide-right 0.5s ease 1.9s forwards;
}

.paint div:nth-child(5) {
    animation: slide-right 0.5s ease 2s forwards;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}